@font-face {
    font-family: 'FSP DEMO - Visby CF Regular';
    src: url("../Fonts/Fontspring-DEMO-visbycf-regular.otf") format("opentype");
}

@font-face {
    font-family: 'FSP DEMO - Visby CF Bold';
    src: url("../Fonts/Fontspring-DEMO-visbycf-bold.otf") format("opentype");
}

body{
    font-family: 'FSP DEMO - Visby CF Regular';
    margin: 0px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media  screen and (max-width: 767px){
        font-size: 100%;
    }
}

#nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute; /*Fixed si barre de nav toujours afficher*/
    top: 0;
    margin: 1.5% 0% 0% 0%;
}

.nav_button{
    border: 0px;
    color: white;
    font-size: 1.5em;
    font-family: 'FSP DEMO - Visby CF Bold';
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1.8vw;
}
.nav_button:hover{
    transform: scale(1.2);
}

.overlay{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.button{
    border: 0px;
    color: white;
    padding: 2% 5%;
    font-size: x-large;
    font-family: 'FSP DEMO - Visby CF Bold';
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button:hover{
    transform: scale(1.2);
}

.blue_button{
    background-color: #40B6E6;
}

.titre{
    color: #40B6E6;
    font-family: 'FSP DEMO - Visby CF Bold';
    font-size: 300%;
}

#entete{
    width: 100%;
    height: 32vw;
    background-image: url(../Images/Opel\ Vivaro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#overlay_entete{
    width: 100%;
}

#slogan{
    font-size: 2.6em;
    width: 26vw;
    color: white;
    margin: 0rem 0rem 2rem 3rem;
    bottom: 0;
    left: 0;
}

#LOGO_entete{
    width: 16rem;
    height: auto;
    bottom: 0;
    right: 0;
    margin: 0rem 1em 1em 0rem;
}

#Presentation{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
}

#txt_presentation{
    width: 70%;
    padding: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img_presentation{
    width: 40%;
    background-image: url(../Images/voiture\ noir.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#image_voiture{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; 
    height: 100%
}

#Pourquoi_nous{
    width: 100%;
    height: 700px;
    background-color: #40B6E6;
    color: white;
    font-family: 'FSP DEMO - Visby CF Bold';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titre_pourquoi{
    color: white;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#arguments_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.arguments{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.img_arguments{
    width: 5rem;
    height: 5rem;
}

.txt_arguments{
    font-family: 'FSP DEMO - Visby CF Regular';
    margin: 8% 10%;
    font-size: 1.5rem;
    text-align: center;
}

#Services{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
}

.image_container {
    width: 40%;
    background-image: url(../Images/Conducteur\ vu\ derrière.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_services{
    width: 100%;
}
  
.overlay-button {
    top: 30%;
    left: 15%;
}

.text_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text_services{
    text-align: left;
}

.services{
    margin-top: 3rem;
}

#Avis{
    width: 100%;
    height: 430px;
}

#Partenaires{
    width: 100%;
    height: 240px;
}